@import 'colors.scss';

#greeting {
  height: 100vh;
  position: relative;
  .greeting-message {
    top: 50%;
    left: 50%;
    position: absolute;
    color: $white;
    -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
            transform: scale(1) translate3d(-50%, -50%, 0);
    z-index: 2;
    font-weight: bold;
    font-size: 1.75rem;
    max-width: 100%;
    white-space:nowrap;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transition: -webkit-filter .3s ease;
    transition: -webkit-filter .3s ease;
    -o-transition: filter .3s ease;
    transition: filter .3s ease;
    transition: filter .3s ease, -webkit-filter .3s ease;
    &.blur {
      -webkit-filter: blur(7px);
              filter: blur(7px);
    }
    @media(max-width: 767px) {
      height: 0;
      position: relative;
      top: 100px;
      left: 0;
      -webkit-transform: initial;
          -ms-transform: initial;
              transform: initial;
      white-space: initial;
      font-size: 4rem;
    }
  }
  .blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: $white;
    position: relative;
    top: -3px;
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    @media(max-width:767px) {
      font-size: 3.5rem;
      top: -8px;
    }
  }

  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: $white;
    }
  }
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: $white;
    }
  }
}
